*
  margin: 0
  padding: 0

body

.wrap
	position fixed
	width 100%
	height 100%
	// background-color #b3d4fc
	.inner
		position absolute
		top 0
		left 0
		right 0 
		bottom 40px
		overflow-y auto
		.logo
			border none
			height 30px 
			width 100%
			margin 0
			padding 10px
			border-radius 0
			// box-sizing border-box
			background #b3d4fc
			img
				width 105px
			audio
				width 100px
				float right
				margin-right 10px 
		>div
			border-radius 5px
			margin 10px
			border 1px solid #ccc
			width 80%
			padding 5px 10px
		.robot
			float left
			background-color bisque
		.my
			float right
			text-align right
			background-color #d68adf
			
	.footer
		box-sizing border-box
		text-align center
		width 100%
		line-height 40px
		font-size 14px
		position absolute
		border 1px solid #ccc
		left 0
		bottom 0
		height 40px
		.btn
			height 100%
			&.touching
				background-color #e8a9a9
		

